@import 'colors';
* {
	box-sizing: border-box;
	color: $text-primary;
}
body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	&.ui_home { height: 100%; }
}

section {
	border-top: 1px solid $divider;
	margin: 60px 20px 20px;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.align-right { text-align: right; }

@media screen and (max-width: 400px) {
	section {
		border: 0;
		margin: 0 10px 10px;
	}	
}